#btn-add-pane {
    width: initial;
    height: min-content;
}

.card .row button {
    width: 100%;
}

.pane-content i {
    display: table;
    margin: 0 auto;
    font-size: xx-large;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    line-height: 0;
}

.verse-number {
    display: inline;
    font-size: .5em;
    vertical-align: super;
    padding: 0.25em .65em;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}